.house-piece {
  width: 50px;
  height: 50px;
  
  display: flex;
  justify-content: center;

  align-items: center;
}

.piece {
  width: 65%;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
